.manage-schedule{
    &-title{

    }
    .fick-hour{
        display: flex;
        justify-content: left;
        gap: 10px;
        margin: 0px auto;
        flex-wrap: wrap;
        .schedule-time{
            background: #dedede;
            cursor: pointer;
            // flex: 0 0 130px;
            &.active{
                background: orange;
            }
        }
    }
}