.md-form{
    position: relative;
    .fa-pencil-alt {
        font-size: 26px;
        position: absolute;
        top: 0;
    }
    .md-textarea{
        border: none!important;
        // border-bottom: 1px solid grey!important;
        padding-left: 43px;
        
    }
}
.form-control:focus{
    box-shadow: none!important;
}
.info{
    position: relative;
}
.line{
    height: 1px;
    width: 620px;
    background-color: grey;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

// .manage-doctor-editor{
//     section.section.sec-md.visible {
//         border-right: 10px solid grey;
//     }
// }
