.schedule{
    border-right: 1px solid #d3d3d3;
    &-select-day{
        select{
            border: none!important;
            border-bottom:1px solid #d3d3d3 !important;
            outline: none;
            padding-bottom: 5px;
            color: #1e90ff;
            font-weight: 600;
            width: 135px;
            &:focus{
                box-shadow: none!important;
            }
            
        }
    }
    &-time{
        margin: 1.5rem 0;
        .calendar{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 0.875rem;
            i{
                font-size: 16px;
            }
            span{
                text-transform: uppercase;
                font-weight: 600;
                padding-left: 5px;
            }
        }
        .time{
           display: flex;
           flex-wrap: wrap;
            .item{
                background: #fff04b;
                outline: none;
                border: 2px solid white;
                padding: 8px 15px;
                border-radius: 4px;
                font-weight: 600;
                color:#333;
                margin: 0.25rem 0.5rem 0.25rem 0;
                &:hover{
                    border: 2px solid #1e90ff;
                }
            }
            .item-vi{
                min-width: 22%;
            }
            .item-en{
                min-width: 28%;
            }
            .book-free{
                margin-top: 10px;
                margin-left: 2px;
                font-size: 13px;
            }
        }
    }
}